
body{
background-color: rgb(251, 244, 246);
font-family: "Inter", sans-serif;
margin: 0;

}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  box-sizing: border-box;
  width: 100%;
  background-color: antiquewhite;
  border-bottom: 2px solid lightgray;
  margin: 0;

}

.HES{ 
  color: rgb(188, 160, 204);
  display: flex;
  flex-direction: row;
   align-items: center;
   flex: none;
  
}


  .HEI { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    height: 50px;
    border-left: 1px solid lightgray ;
    font-weight: 500;
    padding-left: 1.5px;
    
    
  }

  .ISC {
    font-weight: bold;
    font-style: italic;
    font-size: 36px;
    margin-left: -10px;
    
  }

.navigation {
  flex: 1;
  min-width: 0;
  
  
}

.navigation ul {
  display: flex;
  flex-wrap: nowrap;
  
   
  flex: 1 1 0;
  list-style: none;
  margin: 0;
  margin-left: 70px;
  padding: 0;

  border: 1px solid lightgray;
  border-radius: 10px;
  overflow: hidden;
  }

 .navigation li {
  display: flex;
    flex: 1 0 5px;
    min-width: 90px;
   
}

.navigation a {
  display: block;
  padding: 16px 12px;
     width: 100%;
    height: 100%;
  text-align: center;
  color: black;
  text-decoration: none;
  font-size: 10px;
  flex: 1 1 0;
  min-width: 0;
  font-size: clamp(0.1px, 1.2vw, 1.1rem);
  overflow: hidden;
}



.navigation li + li {
  border-left: 1px solid lightgray;
}

.navigation a:hover {
  background-color: rgb(234, 214, 189);
  color: rgb(220, 0, 105);}
  
  .hero {

    display: flex;
    margin-top: 0;
    flex: 1 1 0;
    min-width: 0;
    align-items: stretch;
    background-color: azure;
    
  }

.message,
.coverpic {
  flex: 1;
  min-width: 0;
}
  .message {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    font-size: 10px;
    padding-left: 20px;
    padding: clamp(0px, 4vw, 60px); /* permet d'être responsive */
}
.message p {
    margin: 6px 0;
  font-size: clamp(2px, 1.2vw, 19px);
  line-height: 1.35;
  margin: 0.2rem 0;
  text-align: justify;
}
.coverpic {
    flex: 1; 
    margin-bottom: 0;
    position: relative;/* point de référence pour les éléments à l'intérieur */
    overflow: hidden;/* coupe ce qui dépasse */
 
    }

.coverpic img {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 100%;
    object-fit: cover;/* remplir sans déformer */
    position: absolute; /* force l’image à toucher */
    inset: 0;
}
  h1{
  margin: 0 0 20px;
  font-size: clamp(3px, 5vw, 56px);
  line-height: 1.05;
  }

  .top h2 {
   text-align: center;
   display: block;
  }
  
  .top h2::after{
    content: ""; /* crée un élément vide avec la commande afre on le crée juste après */
    text-align: center;
    display: block;
    width: 50px;
    height: 4px;
    margin: 12px auto 0;
    background-color: brown;
    border-radius: 999px;
  }

  .top li{
      text-decoration: none;
      list-style: none;
   
  }

  .cards ul {
  width: 100%;
  min-height: 110px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  gap: 14px;
  padding: 24px 16px 12px;
      

  text-align: center;
  color: black;
  text-decoration: none;
  font-size: 10px;
  flex: 1 1 0;
  min-width: 0;
  font-size: clamp(0.1px, 1.2vw, 1.1rem);
  overflow: hidden;

  
  }
 .cards li{

 
 display: flex;
 font-weight: 600;
  justify-content: flex-start;

 flex: 1;
    min-height: 0;
       padding-top: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-align: center;
    border-radius: 20px;

 }

.cards h3 {
    margin: 4px 0;
}

.cards p {
    margin: 0;
}

.fleche {
    margin-top: 6px;
    line-height: 1.2;
    text-decoration: none; /* évite que ça souligne le lien (la flèche) */
      color: inherit;  /* le texte garde la même couleur quand le lien a été visité */
}
 
  .chiffres {
    background-color: rgb(240, 227, 243);
}

.représentations {
    background-color: rgb(252, 232, 236);
}

.actions {
    background-color: rgb(231, 241, 235);
}

.ressources {
    background-color: rgb(253, 239, 214);
}

.cards .chiffres h3,
.cards .chiffres .fleche {
  color:rgb(139, 89, 192)
}

.cards .représentations h3,
.cards .représentations .fleche {
  color: rgb(205, 90, 127);
}

.cards .actions h3,
.cards .actions .fleche  {
  color: rgb(94, 162, 134);
}

.cards .ressources h3,
.cards .ressources .fleche  {
  color: rgb(232, 179, 70);
}

.icone {
    width: 34px;
    height: 34px;
    flex-shrink: 0;

    border: 1px solid #b18be0;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 17px;

    position: absolute;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
}

.chiffres .icone {
    color: rgb(139, 89, 192);
    border-color: rgb(139, 89, 192);
}

.représentations .icone {
    color: rgb(205, 90, 127);
    border-color: rgb(205, 90, 127);
}

.actions .icone {
    color: rgb(94, 162, 134);
    border-color: rgb(94, 162, 134);
}

.ressources .icone {
    color: rgb(232, 179, 70);
    border-color: rgb(232, 179, 70);
}